*{
    box-sizing: border-box;
}
.footer_main{
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer_logo{
    width:67.36%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
@media screen and (max-width:416px) {
    .footer_logo{
        justify-content: center;
    }
}
.footer_description{
    height:fit-content;
    width:100%;
    padding: 45px 98px 0px 98px;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    /* background-color: blanchedalmond; */
}
.footer_description_img{
    width:158px;
    height:76px;
    margin-bottom: 30px;
}
@media screen and (max-width:768px){
    .footer_description_img{
        width:100px;
        height:40px;
        margin: 0px 0px 20px 20px;
    }
}
.footer_info{
    height:fit-content;
    /* width:100%; */
    /* background-color: aqua; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.companies{
    display:flex;
    flex-direction: column;
    gap:20px;
    width: 177px !important;

    margin-right: 20px;
}
.company{
    display:flex;
    flex-direction: column;
}
.company img{
    width: 91px;
    height: 40px;

}

.company div{
font-size: 12px;
font-weight: 400;


}
.quick{
    display:flex;
    flex-direction: column;
    gap:8px;
}
.quick_head{
font-size: 20px;
font-weight: 700;
margin-bottom: 20px;
}
.quick_head_img1{
    height:25px;
    width:100px;
}
.quick_head_img2{
    height:25px;
    width:125px;

}
.quick_head_img3{
    height:25px;
    width:107px;

}
.copywrites{
    padding:16px 0px 16px 0px;
    margin-bottom: 20px;
    width:fit-content;
    height: fit-content;
    color:#767676;
    display: flex;
    align-items: center;
}
.copysymbol{
    width: 24px;
    height: 24px;
}
.copymatter{
    /* width: 249px; */
    height: 24px;
    font-size: 15px;
    font-weight: 400;
    
}
@media screen and (max-width:832px) {
    .quick:nth-child(4){
        margin-top:40px;
    }
    .footer_description{
        padding: 40px 85px 0px 85px;  
    }

}
@media screen and (max-width:708px){
    .quick:nth-child(3){
        margin-top: 40px;
    }
    .footer_description{
        padding: 35px 70px 0px 70px;  
    }
}
@media screen and (max-width:533px){
    .quick:nth-child(2){
        margin-top: 40px;
    }
    .footer_description{
        padding: 30px 60px 0px 60px;  
    }
}